.skills {
  width: 100%;
  display: flex;
  flex-direction: column;

  margin-inline: auto;
  margin-block: var(--space-section);
}

.skills > h2 {
  align-self: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);

  padding: var(--space-5);

  border-radius: 10px;
  background-color: var(--color-surface);
}

.heading {
  display: flex;
  align-items: center;
  gap: var(--space-4);

  margin-block: 0;
}

.icon {
  width: 28px;
  height: 28px;
}

.grid {
  padding: var(--space-4);

  background-color: var(--color-surface-light);
  border-radius: 8px;

  border: 1px solid var(--color-surface-border);
  transition: border 200ms ease-in-out, background-color 200ms ease-in-out;
}

.skillList {
  padding-left: var(--space-3);
}

.skillList > li {
  list-style-type: nogine;
}
.skillList > li::before {
  content: '•';
  color: var(--color-brand-primary);
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

@media (min-width: 768px) {
  .grid:hover {
    border: 1px solid var(--color-brand-primary);
    background-color: hsla(142, 71%, 45%, 0.1);
  }
}

@media (min-width: 1024px) {
  .skills {
    width: auto;
  }
  .content {
    flex-direction: row;
    justify-content: center;
    padding: var(--space-7);
  }
}
